body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container {
    max-width: 900px;
    width: 90%;
    background-color: #c4424259;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 20px;
}

.header {
    background: linear-gradient(135deg, #001f3fcc, #007bffbb);
    padding: 40px;
    color: #fff;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-top: -75px;
    background-color: #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 40px;
    text-align: center;
}

.info h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00FF00;
}

.info p {
    margin: 0;
    font-size: 18px;
    color: #1c0fd8;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #19c4c459;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 90%;
}

.social-container a {
    color: #333;
    font-size: 30px;
    transition: color 0.3s ease;
}

.social-container a:hover {
    color: #3bad0e;
}

#music-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffffff57;
    color: #000;
    z-index: 2;
}

@media (max-width: 768px) {
    #music-toggle {
        position: relative;
        margin-top: 20px;
        bottom: unset;
        right: unset;
    }
}